<h2>Sign up</h2>
 <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <% type= params[:role] || params[:user][:type_user] %>
  <div class="field">
    <%= f.text_field :type_user, type: "hidden",value:type %>
  </div>
   <div class="field">
    <%= f.label :name, type== 'user' ? "Nombre": "Organización" %><br />
    <%= f.text_field :name, autofocus: true ,required:true,placeholder:"Nombre #{" de la organización o compañía " if type=="company"}"%>
  </div>
  <div class="field">
    <%= f.label :username ,"Nick Name" %><br />
    <%= f.text_field :username ,required:true,placeholder:"Nombre de usuario"%>
  </div>
  <div class="field">
    <%= f.label :email%><br />
    <%= f.email_field :email ,required:true,placeholder:"Correo electrónico"%>
  </div>

  <div class="field">
    <%= f.label :password,"Contraseña" %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" ,required:true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation ,"Confirmar Contraseña"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,required:true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>