<p id="notice"><%= notice %></p>

<h1>Listing Partner Events</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Description</th>
      <th>State</th>
      <th>Type partners</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partner_events.each do |partner_event| %>
      <tr>
        <td><%= partner_event.event_id %></td>
        <td><%= partner_event.user_id %></td>
        <td><%= partner_event.description %></td>
        <td><%= partner_event.state %></td>
        <td><%= partner_event.type_partners %></td>
        <td><%= partner_event.correo %></td>
        <td><%= link_to 'Show', partner_event %></td>
        <td><%= link_to 'Edit', edit_partner_event_path(partner_event) %></td>
        <td><%= link_to 'Destroy', partner_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner event', new_partner_event_path %>
