

<ol class="homeindicator" >
  <li><a href="#home1"  >a</a></li>
  <li><a href="#home2" id="clickme">a</a></li>
  <li><a href="#home3" >a</a></li>
</ol>
<section class="homepageone" id="home1">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
  <div class="collapse" id="collapseExample">
    <div class="well">
      <!-- <h2>Log in</h2> -->      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <% end %>


    </div>
  </div>
  <!-- <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">Desparchate</h1>
          <p class="lead">Cambia tu desparche hoy</p>
          <p class="lead">
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p class="lead">Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          </div>
        </div>

      </div>
    </div>
  </div> -->
</section>
<section class="homepageone" id="home2">
  <div style="background-color: red;height:100%">
    hola
    <!--   <ol class="homeindicator">
        <li><a href="#home1" >a</a></li>
        <li><a href="#home2" >a</a></li>
        <li><a href="#home3" >a</a></li>
      </ol> -->
    </div>
  </section>
  <section class="homepageone" id="home3">
    l
    <!-- <ol class="homeindicator">
      <li><a href="#home1" >a</a></li>
      <li><a href="#home2" >a</a></li>
      <li><a href="#home3" >a</a></li>
    </ol> -->
  </section>


