
        <td><%= event.title %></td>
        <td><%= linkify_hashtags event.description %></td>
        <td><%= event.date_i %></td>
        <td><%= event.date_f %></td>
        <td><%= event.hour_i %></td>
        <td><%= event.hour_f %></td>
        <td><%= event.name_place %></td>
        <td><%= event.address %></td>
        <td><%= event.img %></td>
        <td><%= event.private %></td>
        <td><%= event.n_confirm %></td>
        <td><%= event.capacity %></td>
        <td><%= event.need_partner %></td>
        <td><%= event.des_partner %></td>
        <td><%= event.user_id %></td>
       
