<!DOCTYPE html>
<html>
<head>
  <title>EventApp </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- header -->
	<header>
	<!-- login in header -->
	<% if current_user %>
	<div id="logo">
		<img src="../assets/images/logo.png">
	</div>
	<div class="search">
		<input type="search" name="busqueda" placeholder="Buscar evento..."> <input type="submit" value="Enviar">
	</div>

	<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
	<!-- end login in -->

	<!-- login out header -->
	<% else %>
	<div class="header container-fluid">
	<div id="logo" class="col-md-2">
		 <%= image_tag("logo.png", height: '30', alt: 'Logo')%>
	</div>
	<div id="button-click">
		<button class="button button-7 button-7h icon-envelope">Submit form</button>
		<button class="button button-7 button-7h icon-envelope">Submit form</button>
	</div>

	<!-- login out end -->
	<% end %>
	</header>
	<!-- end header -->
	<%= yield %>

</body>
</html>
